<a href="https://colab.research.google.com/github/WesleyIsney/Python-Udemy/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python para finanças

In [ ]:
!pip install -q yfinance

####*Importação das blilbiotecas*

In [ ]:
import pandas as pd 
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import yfinance as yf

#####*Comentarios*

In [ ]:
#pandas, utilizada para trabalhar com DataFrames(tabelas em memorias) 
#Numpy, bliblioteca matematica numerica Cientifica, 
#datereader, carregar dados financeiros da internet
#matplotlib.pyplot, utilizada para a visualização dos dados em python(Grafico estatico)
#Seaborn, bliblioteca grafica avançada(Grafico estatico)
#plotly.explress, utilizado para gerar graficos interativos. (grafico interativo)

###*Base de dados com uma ação*

In [ ]:
#gol_df = data.DataReader(name='GOLL4.SA', data_source='yahoo', start='2015-01-01')
gol_df = yf.download("GOLL4.SA", start='2015-01-01')

[*********************100%***********************]  1 of 1 completed

In [ ]:
gol_df

             Open   High    Low  Close  Adj Close    Volume
Date
2015-01-02  14.97  15.20  14.61  14.99      14.99    901900
2015-01-05  14.90  15.01  14.41  14.85      14.85   1272500
2015-01-06  14.75  15.21  14.65  15.21      15.21   2183500
2015-01-07  15.15  15.33  14.55  14.55      14.55   1846900
2015-01-08  14.41  14.65  14.20  14.27      14.27   1569500
...           ...    ...    ...    ...        ...       ...
2022-07-27   8.23   9.05   8.23   9.03       9.03  12644000
2022-07-28   8.92   8.94   8.48   8.61       8.61  11384500
2022-07-29   8.60   8.72   8.34   8.36       8.36   7234400
2022-08-01   8.36   8.61   8.13   8.54       8.54   6491300
2022-08-02   8.46   8.57   8.32   8.37       8.37   5627900

[1885 rows x 6 columns]

#Funções Para o Python

In [ ]:
resposta = input('Você esta Gostando do Atendimento?')
if resposta == 'sim':
      print('Obrigado =D')
elif resposta == 'não':
      input('No que posso melhorar?')
else:
      print('Grato!')

In [ ]:
#o For é um laço infinito
def primeira_funcao_funcao():
    print('hello Word')

In [ ]:
primeira_funcao_funcao()

hello Word

In [ ]:
def calculo_medio(nota1, nota2):
    return(nota1 + nota2) / 2

In [ ]:
calculo_medio(10, 8)

9.0

In [ ]:
def Calculo(Num1, Num2, operador):
   operador = {'soma': Num1+ Num2,
               'subtracao': Num1 - Num2,
               'divisao': Num1 / Num2,
               'Multiplicacao': Num1 * Num2}

In [ ]:
Num1 = input('Digite o primeiro numero: ')
Num2 = input('Digite o Segundo numero: ')
Calculo = input('Qual o Tipo de Operação:')
if Calculo == '+':
  print('Resultado da Soma: ', int(Num1) + int(Num2))
elif Calculo == '-':
  print('Resultado da subitracao: ', int(Num1) - int(Num2))
elif Calculo == '*':
  print('Resultado da Multiplicaçao: ', int(Num1) * int(Num2))
elif Calculo == '/':
  print('Resultado da Divisão: ', int(Num1) / int(Num2))
else:
  print('Digite um Operador Valido!')

Digite o primeiro numero: 5
Digite o Segundo numero: 5
Qual o Tipo de Operação:-
Resultado da subitracao:  0